<h1>Meeting participation list</h1>
<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Email</td>
            <td>Phone</td>
            <td>Participation Status</td>
            <td>Detail</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>John Doe</td>
            <td>johndoe@example.com</td>
            <td>123-456-7890</td>
            <td>Attended</td>
            <td>
               <a href="#">Detail</a>
            </td>
        </tr>
        <td>Jane Doe</td>
        <td>janedoe@example.com</td>
        <td>987-654-3210</td>
        <td>Not Attended</td>
        <td>
            <a href="#">Detail</a>
        </td>
        </tr>
    </tbody>
</table>